* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #f3effc;
}

.main {
	padding-top: 50px;
	padding-bottom: 20px;
	display: flex;
	justify-content: center;
}

.main input {
	padding: 10px;
	border: 2px solid #ccc;
	border-radius: 15px;
}

.main input:focus {
	border-color: gray;
	outline: none;
}

.signup-container {
	background: #fff;
	padding: 30px 60px;
	border-radius: 20px;
	width: 500px;
	text-align: center;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.btn {
	display: flex;
	justify-content: flex-end;
}

.close-btn {
	border: none;
	background: none;
	font-size: 20px;
	cursor: pointer;
	padding-left: 5px;
	padding-right: 5px;
}

.close-btn:hover {
	background-color: lightgray;
}

.main h1 {
	font-size: 32px;
}

.signup-group {
	margin-top: 25px;
	margin-bottom: 15px;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.signup-input {
	border: 1px solid black;
	border-radius: 15px;
	padding: 10px;
}

.signup-btn {
	background-color: #7f56d8;
	font-size: 15px;
	color: white;
	border: none;
	border-radius: 20px;
	padding-left: 24px;
	padding-top: 16px;
	padding-bottom: 16px;
	padding-right: 24px;
	cursor: pointer;
}

.signup-btn:hover {
	background-color: #4500b3;
}

.login-link {
	font-size: 20px;
	margin-bottom: 30px;
}

.login-link a {
	text-decoration: none;
}

.login-link a:hover {
	text-decoration: underline;
}

.password-feedback {
	font-size: 15px;
}

.response-message {
	margin-top: 15px;
	font-size: 14px;
	text-align: center;
	color: red;
}

.spinner {
	border: 4px solid rgba(0, 0, 0, 0.1);
	border-left-color: #3498db;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	animation: spin 1s linear infinite;
	margin: 10px auto;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
